## x(범주형), y(범주형)
- 주로 독립성 증명
- 가설 
  + 귀무가설 : 관계성이 없다.
  + 대립가설 : 관계성이 있다. => 주로 증명하고 싶은 바

In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import seaborn as sns
import pandas as pd 
import numpy as np

In [2]:
data_df = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
data_df.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0

### 분석 내용 
- 가상 가설 : 계약 유형에 따른 해약 여부가 달라지는가.
  - 귀무 가설 : 계약 유형에 따른 해약 여부가 달라지지 않는다. (P.value > 0.05)
  - 대립 가설 : 계약 유형에 따른 해약 여부가 달라진다. (P.value < 0.05)

In [5]:
data_df[['type_of_contract','cancellation']].value_counts()

type_of_contract  cancellation
렌탈                정상              46137
멤버십               정상               4231
                  해약                563
렌탈                해약                344
Name: count, dtype: int64

In [11]:
data_df[['type_of_contract','cancellation']].isna().sum()

type_of_contract     4
cancellation        25
dtype: int64

In [7]:
pivot_df = pd.pivot_table( data=data_df[['type_of_contract','cancellation']], index='type_of_contract', columns='cancellation', aggfunc=len)
pivot_df

cancellation         정상   해약
type_of_contract
렌탈                46137  344
멤버십                4231  563

In [3]:
import scipy.stats as stats

In [12]:
# correction=True : nan 처리 알아서 함. 데이터 불균형을 완화, 알아서 가중치 줌. 
stats.chi2_contingency(observed=pivot_df, correction=True) 
# (P.value < 0.05) 이므로 대립 가설
# dof=1 자유도, 모집단과 표본의 표준분포 차이에서 오는 걸 맞추는 값

Chi2ContingencyResult(statistic=3021.9735309482894, pvalue=0.0, dof=1, expected_freq=array([[45658.8007411,   822.1992589],
       [ 4709.1992589,    84.8007411]]))