## 연속형, 연속형
- 상관계수 (correlation coefficient) 확인 
  + -1 <= x <= 1 : 0.5 or -0.5 기준(threashold) 
  + -1 에 가까우면 반비례, 1에 가까우면 정비례

In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import seaborn as sns
import pandas as pd 
import numpy as np

In [2]:
data_df = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
data_df.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0

### 분석 내용 
- 가상 가설 : 나이에 따른 마일리지 변화가 있는가 ?
  - 귀무 가설 : 나이에 따른 마일리지 변화가 없다.
  - 대립 가설 : 나이에 따른 마일리지 변화가 있다.
- 대상 변수 : age, Mileage
- 분석 결과 
  - 통계 결론 : 대립 가설 성립
  - 사실 결론 : 나이에 따른 마일리지 변화가 있다.

In [3]:
data_df[['age','Mileage']].isna().sum()

age        10795
Mileage    10795
dtype: int64

In [4]:
data_df[['age','Mileage']].corr() 
# 꼭 nan 확인해야함.
# 둘이 같이 없는 경우가 아니면 위험한 결과 나올 수 있음.
# 상관계수가 0.97이므로 관계가 있다.

              age   Mileage
age      1.000000  0.973281
Mileage  0.973281  1.000000

### 정규 분포 여부 
- age, mileage 는 정규분포 확인 됨. : 03.univariates.ipynb 참조
-

### pearson test 진행

In [5]:
import scipy.stats as stats

In [7]:
stats.pearsonr(data_df['age'].dropna(), data_df['Mileage'].dropna())
# pvalue=0.0 가 0.05 보다 작으므로 age와 Mileage는 대립가설 이다.

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)

### 비정규 분포 테스트 
- age 는 정규분포 확인 됨.
- mileage 는 400개만 써서 비정규분포로 만들어서 spearman test 진행  : 03.univariates.ipynb 참조
- 분석 결과 
  - 통계 결론 : 귀무 가설 성립, 정비례 관계
  - 사실 결론 : 나이 따른 마일리지 변화가 없다.

### spearman test 진행

In [10]:
mileage_400_df = data_df.dropna()[:400]
mileage_400_df.count()

id                   400
type_of_contract     400
type_of_contract2    400
channel              400
datetime             400
Term                 400
payment_type         400
product              400
amount               400
state                400
overdue_count        400
overdue              400
credit rating        400
bank                 400
cancellation         400
age                  400
Mileage              400
dtype: int64

In [11]:
stats.spearmanr(mileage_400_df['Mileage'], mileage_400_df['age'])

SignificanceResult(statistic=0.9734492598611446, pvalue=5.68288855390245e-257)