제안 4: 세분화된 마케팅 전략 개발
문제 정의: 고객 세분화를 통해 다양한 고객 그룹의 특성을 파악하고, 이를 바탕으로 맞춤형 마케팅 전략을 개발합니다.
배경: 고객의 행동과 선호도를 더 잘 이해함으로써, 보다 효과적인 마케팅 캠페인을 수행할 수 있습니다.

In [160]:
import matplotlib.pyplot as plt
import matplotlib as mpl # 한글 폰트 설정 (NanumGothic) 
mpl.rcParams['font.family'] = 'NanumGothic'
mpl.rcParams['axes.unicode_minus'] = False  # 마이너스 기호 깨짐 방지
import seaborn as sns
import pandas as pd
import numpy as np

In [161]:
data_df = pd.read_csv('../../datasets/LetalCarOfContractType.csv')
data_df.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0

In [162]:
data_df.info(), data_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51304 entries, 0 to 51303
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 51304 non-null  int64
 1   type_of_contract   51300 non-null  object
 2   type_of_contract2  51303 non-null  object
 3   channel            51304 non-null  object
 4   datetime           51304 non-null  object
 5   Term               51304 non-null  int64
 6   payment_type       51304 non-null  object
 7   product            51303 non-null  object
 8   amount             51304 non-null  int64
 9   state              51304 non-null  object
 10  overdue_count      51304 non-null  int64
 11  overdue            51302 non-null  object
 12  credit rating      42521 non-null  float64
 13  bank               48544 non-null  object
 14  cancellation       51279 non-null  object
 15  age                40509 non-null  float64
 16  Mileage            40509 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 6.7+ MB

(None,
                  id          Term         amount  overdue_count  \
 count  5.130400e+04  51304.000000   51304.000000   51304.000000
 mean   6.266457e+07     55.638527   93994.980021       0.161040
 std    1.216115e+07     12.010117   15305.147334       1.122356
 min    2.568798e+07     12.000000   54603.000000      -1.000000
 25%    6.643149e+07     60.000000   81900.000000       0.000000
 50%    6.676578e+07     60.000000   96900.000000       0.000000
 75%    6.678161e+07     60.000000   98400.000000       0.000000
 max    6.696986e+07     60.000000  215700.000000      15.000000

        credit rating           age       Mileage
 count   42521.000000  40509.000000  40509.000000
 mean        3.428894     46.608285   1967.922412
 std         2.213590     13.465977    436.707329
 min         0.000000     20.000000    872.000000
 25%         1.000000     37.000000   1646.000000
 50%         3.000000     46.000000   1946.000000
 75%         5.000000     56.000000   2263.000000
 max        10.000000    107.000000   3803.000000  )

### 고객 세분화
- 선택한 고객 분류
  - 계약금액이 많으면서, 계약기간이 긴 고객 => 꾸준히 많은 금액을 보장 받을 수 있기 때문,
  - 비교군 계약금액 적고, 계약기간이 짧은 고객
- 알아봐야 할  요소
  - 나이
  - 계약기간
  - 납부방법
  - 마일리지
  - 채널
  - 멤버십
  - 금액
  - 신용구간

### 설명
- 계약금액이 많으면서, 계약기간이 긴 고객 총 131명
  + 전부 렌탈 이며, Promotion 108 건으로 가장 많았다.
  + 대부분 방문 판매의 형태이고 렌탈총판 48 건으로 가장 많았다.
  + 나이대는 30대 이상이 주류 이며, 그중 40대가 28 건으로 가장 많았다.
  + 신용 등급은 주로 6,7 등급이고 각각 23건, 14건으로 가장 많았다.
  + 조금 특이한 점은, 가장 많은 금액구간의 사람들은 전부 39개월, K6를 선택했다.(120 건) 동일한 프로모션의 결과 였지 않나 판단된다.
- 계약금액 적고, 계약기간이 짧은 고객 총 2621명
  + 전부 멤버십, TAS 2598 건으로 가장 많았다.
  + 렌탈 재계약 2167 건으로 가장 많았다.
  + 40대가 546 건으로 가장 많지만, 고루 분포 되어 있는 편이라고 볼 수 있을 것 같다.
  + 신용 등급이 5등급 이하에 대부분이 있으며, 2,3 등급이 각각 450, 449로 가장 많았다.
  + K1이 2523건으로 가장 많았다.

### 마케팅 방안
- 계약금액이 많고 계약기간이 긴 고객을 유치하는 방안
  + 방문 판매 방식으로 렌탈 Promotion을 더 수행하여 고객을 더 유치해야한다.
  + 39개월, K6 프로모션을 더 진행 해 보는 것이 좋을 것이라고 생각 된다.
- 계약금액 적고, 계약기간이 짧은 고객에 대한 개선 방안
  + 전부 멤버십 가입이 되어 있는 상태고, 렌탈 재계약을 수행 한 고객 인데, 렌탈 재계약시 더 계약기간이 길게 가입이 유도 되었어야 한다.

In [163]:
# 연령별 CMS 분포 확인 
bins = [20,30,40,50,60]
labels = ['20-29','30-39','40-49','50-59']

data_df['age_group'] = pd.cut(data_df['age'], bins=bins, labels=labels)
data_df.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage,age_group
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0,40-49
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0,NaN
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0,50-59
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0,50-59
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0,50-59

In [164]:
labels = ['1','2','3','4','5']
data_df['amount_group'] = pd.cut(data_df['amount'], bins=5, labels=labels ) # , labels=labels
data_df.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage,age_group,amount_group
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0,40-49,2
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0,NaN,2
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0,50-59,2
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0,50-59,1
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0,50-59,1

In [165]:
data_df['Mileage_group'] = pd.cut(data_df['Mileage'], bins=5)

In [166]:
data_df[['Term', 'amount', 'age', 'Mileage', 'credit rating']].corr()

                   Term    amount       age   Mileage  credit rating
Term           1.000000  0.465662 -0.008474 -0.007871      -0.042443
amount         0.465662  1.000000 -0.003537 -0.004146      -0.017583
age           -0.008474 -0.003537  1.000000  0.973281       0.004609
Mileage       -0.007871 -0.004146  0.973281  1.000000       0.002921
credit rating -0.042443 -0.017583  0.004609  0.002921       1.000000

In [167]:
condition_term = 'Term >= 39' 
condition_amount = 'amount_group == "5" or amount_group == "4"'

In [168]:
condition_term_diff = 'Term <= 12' 
condition_amount_diff = 'amount_group == "1"'

In [169]:
temp_df = data_df.query(f'{condition_term_diff} and {condition_amount_diff}')

In [170]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2621 entries, 3 to 51203
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2621 non-null   int64
 1   type_of_contract   2621 non-null   object
 2   type_of_contract2  2621 non-null   object
 3   channel            2621 non-null   object
 4   datetime           2621 non-null   object
 5   Term               2621 non-null   int64
 6   payment_type       2621 non-null   object
 7   product            2621 non-null   object
 8   amount             2621 non-null   int64
 9   state              2621 non-null   object
 10  overdue_count      2621 non-null   int64
 11  overdue            2621 non-null   object
 12  credit rating      2153 non-null   float64
 13  bank               2615 non-null   object
 14  cancellation       2596 non-null   object
 15  age                2033 non-null   float64
 16  Mileage            2033 non-null   float64
 17  age_group          1669 non-null   category
 18  amount_group       2621 non-null   category
 19  Mileage_group      2033 non-null   category
dtypes: category(3), float64(3), int64(4), object(10)
memory usage: 376.9+ KB

In [171]:
temp_df['type_of_contract'].value_counts()

type_of_contract
멤버십    2621
Name: count, dtype: int64

In [172]:
temp_df['type_of_contract2'].value_counts()

type_of_contract2
TAS    2598
TA1      12
TA3      11
Name: count, dtype: int64

In [173]:
temp_df['channel'].value_counts()

channel
렌탈재계약    2167
R관리방판     443
R빌리미       11
Name: count, dtype: int64

In [174]:
temp_df['age_group'].value_counts()

age_group
40-49    546
30-39    459
50-59    447
20-29    217
Name: count, dtype: int64

In [175]:
temp_df['Mileage_group'].value_counts()

Mileage_group
(1458.2, 2044.4]     917
(2044.4, 2630.6]     710
(869.069, 1458.2]    242
(2630.6, 3216.8]     155
(3216.8, 3803.0]       9
Name: count, dtype: int64

In [176]:
temp_df['credit rating'].value_counts()

credit rating
2.0     450
3.0     449
4.0     359
1.0     235
5.0     213
6.0     198
7.0     166
8.0      79
9.0       3
10.0      1
Name: count, dtype: int64

In [177]:
temp_df['Term'].value_counts()

Term
12    2621
Name: count, dtype: int64

In [178]:
temp_df['amount_group'].value_counts()

amount_group
1    2621
2       0
3       0
4       0
5       0
Name: count, dtype: int64

In [179]:
temp_df['product'].value_counts()

product
K1    2523
K2      91
K4       7
Name: count, dtype: int64